@use '../helpers' as *;

.field {
  display: flex;
  flex-direction: column;
  gap: vw(8);

  @media (max-width: $br1) {
    gap: 8px;
  }
}

.field__control {
  display: flex;
  align-items: center;
  position: relative;
  height: vw(56);
  overflow: hidden;
  background-color: var(--bg-muted-10);
  border-radius: vw(16);
  border: 1px solid transparent;
  transition: border-color 0.3s $easing;

  &:has(.input:focus) {
    border: rem(1) solid var(--primary);
  }
  &:hover {
    border: rem(1) solid var(--primary);
  }
  &--number {
    padding-left: rem(12);
    padding-right: rem(12);
  }

  &--textarea {
    height: vw(80);
    border-radius: var(--rounded-lg);
  }

  @media (max-width: $br1) {
    height: 48px;
    border-radius: 16px;
  }
}
