:root {
  --background: #ffffff;
  --bg-muted-10: rgba(255, 255, 255, 0.1);
  --bg-muted-50: rgba(255, 255, 255, 0.5);
  --bg-muted-75: rgba(255, 255, 255, 0.75);
  --background-secondary: #edeff0;
  --foreground: #011428;
  --foreground-muted-7: rgba(1, 20, 40, 0.07);
  --foreground-muted-10: rgba(1, 20, 40, 0.1);
  --foreground-muted-50: rgba(1, 20, 40, 0.5);
  --foreground-muted-85: rgba(1, 20, 40, 0.85);
  --border: #e2e4f0;
  --card: #fff;
  --muted: #f1f2f9;
  --dark: #2c2c2c;
  --secondary: #ffffff;
  --primary: #cff6a2;
  --secondary-button: #f1f2f9;

  --status-danger: #ff3b30;
  --status-danger-active: #c91b11;
  --status-success: #319f43;

  --backdrop: rgba(0, 0, 0, 0.8);

  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 12px; // default
  --rounded-xl: 16px;
  --rounded-full: 9999px;

  --card-shadow-color: rgba(0, 0, 0, 0.05);

  --card-shadow-b: 0px 1px 2px 0px var(--card-shadow-color);
  --card-shadow: 0px 1px 2px 0px var(--card-shadow-color), 0px -1px 2px 0px var(--card-shadow-color);

  --card-shadow-md: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.dark {
  --background: #121212;
  --bg-muted-10: rgba(#121212, 0.1);
  --bg-muted-50: rgba(#121212, 0.5);
  --bg-muted-75: rgba(#121212, 0.75);
  --background-secondary: #edeff0;
  --foreground: #fff;
  --foreground-muted-7: rgba(1, 20, 40, 0.07);
  --foreground-muted-10: rgba(1, 20, 40, 0.1);
  --foreground-muted-50: rgba(1, 20, 40, 0.5);
  --foreground-muted-85: rgba(1, 20, 40, 0.85);
  --border: #30343f;
  --card: #181818;
  --muted: #25282e;
  --dark: #e5e5e5;
  --secondary: #011428;
  --card-shadow-color: rgba(255, 255, 255, 0.05);
}

//screen config
$maxWidth: 1440;
$minWidth: 375;

$base-rem-unit: 16;

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 960px;
$br2: 768px;
$br3: 660px;
$br4: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

$base-rem-unit: 16;
