@use './helpers' as *;

* {
  &::selection {
    color: white;
    background: var(--primary);
  }
}

html {
  font-size: clamp(12px, vw($base-rem-unit), vw($base-rem-unit));
  height: 100vh;
  height: 100dvh;
  @media (max-width: $br3) {
    font-size: #{$base-rem-unit}px;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-size: 1rem;
  position: relative;
  font-family: sans-serif;
  overscroll-behavior-y: none;
  overflow: hidden;
  @include smooth-font;

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.e-landscape {
  @include coverdiv(fixed);
  z-index: 100000;
  background: var(--bg);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 80%;
    @media (max-width: $br1) {
      max-width: size(900, 320);
    }
  }
}

.landscape {
  .e-landscape {
    display: flex;
  }
}

.e-fixed {
  overflow: hidden !important;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.iconify {
  width: 1em;
  height: 1em;
  font-size: rem(16);
  display: block;
  flex-shrink: 0;
}

.nav-hidden {
  .header {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.underline {
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: var(--foreground);
    transition: width 0.3s ease;
    pointer-events: none;
  }

  &:hover::before,
  &.underline--active::before {
    width: 100%;
  }
}

.underline-reverse {
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: currentColor;
    transition: width 0.3s ease;
    pointer-events: none;
  }

  &:hover::before,
  &.underline--active::before {
    width: 0;
  }
}
